.projects {
	width: 100vw;
	/* overflow: hidden; */
}
.projects-container {
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	row-gap: 40px;
	column-gap: 20px;
	align-items: center;
}

.project-link:link,
.project-link:visited {
	text-decoration: none;
	font-size: 1.2rem;
	color: #767676;
	margin-top: 10px;
	transition: 0.3s;
}
.project-link:hover,
.project-link:active {
	color: #cf711f;
	text-decoration: underline;
}
.project-item {
	height: 550px;
	min-width: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	padding: 15px 10px;
	gap: 10px;
	transition: 0.3s;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
div.image-container {
	height: 95%;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
}
.project-image {
	/* height: 95%;
	width: auto; */
	height: 100%;
}

.project-item:hover {
	transform: translateY(-6px);
}

@media (max-width: 70rem) {
	.projects-container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	}
}

@media (max-width: 44rem) {
	.projects-container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
		row-gap: 40px;
	}
}
