div.nav-container {
	margin: 0 auto;
	padding: 5em 3em;
	text-align: center;
	color: #777;
	letter-spacing: 1.5px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.main-nav-link:link,
.main-nav-link:visited {
	text-decoration: none;
	color: #777;
	font-size: 28px;
	margin: 0px 10px;
	padding: 10px 10px;
	position: relative;
	z-index: 0;
	cursor: pointer;
}

.main-nav-link:hover,
.main-nav-link:active {
	color: #cf711f;
}
/* Brackets go out */
div.brackets a:before,
div.brackets a:after {
	position: absolute;
	opacity: 0;
	font-size: 35px;
	top: 0px;
	transition: all 0.3s;
}

div.brackets a:before {
	content: "(";
	left: 0px;
	transform: translateX(10px);
}

div.brackets a:after {
	content: ")";
	right: 0px;
	transform: translateX(-10px);
}

div.brackets a:hover:before,
div.brackets a:hover:after {
	opacity: 1;
	transform: translateX(0px);
}

@media (max-width: 70rem) {
	.main-nav-link:link,
	.main-nav-link:visited {
		font-size: 25px;
	}
}

@media (max-width: 44rem) {
	div.nav-container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		padding: 2rem;
	}
	.main-nav-link:link,
	.main-nav-link:visited {
		font-size: 22px;
	}
}
div.about-container {
	display: flex;
	flex-direction: row;
	gap: 20px;
}
img.me {
	height: 300px;
	align-self: flex-end;
}
