/* .App {
	text-align: center;
} */

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.parallax-bg {
	background-size: cover;
	background-position: center;
	height: 38vh;
}

@media (max-width: 70rem) {
	.parallax-bg {
		height: 32vh;
	}
}

@media (max-width: 44rem) {
	.parallax-bg {
		height: 20vh;
	}
}
