body {
	margin: 0;
	font-family: "Iowan Old Style" ï¼Œ "Palatino Linotype", "URW Palladio L", P052,
		serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
